.columnLogin{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    padding-left: 50px;
    gap: 0px; 
    margin:20px; 
}

.login-form {
    background-color:#ffffff ;
    width: 600px;
    border-radius: 5px;
    border: 1px solid #000000b4;
    padding: 20px;
    text-align: center;
    margin-right: 10px;
}

.login-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #00000036;
    border-radius: 5px;
    color: #fff;
    background-color: aqua;
}
.login-button {
    width: 100%;
    padding: 10px;
    color: #f0ecec;
    border-radius: 5px;
    cursor: pointer;
}

.register-text {
    padding: 0 60px;
    margin-top: 20px;
    font-size: 14px;
}

.register-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000000b4;
    border-radius: 5px;
    background-color: #f4f4f4 ;
}
