.register-form {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 20px; /* Espacio interno dentro del formulario */
    background-color: #f9f9f9; /* Color de fondo del formulario */
    border-radius: 8px; /* Borde redondeado */
    border-radius: 5px;
    border: 1px solid #ccc;
}
register-form h2 {
    margin-bottom: 20px; /* Espacio inferior para el título */
}
.register-form input {
    width: 100%; /* Ancho completo para los inputs */
    margin-bottom: 15px; /* Espacio inferior entre los inputs */
    padding: 10px; /* Espacio interno dentro de los inputs */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Borde redondeado del input */
}
.register-form button {
    width: 100%; /* Ancho completo para el botón */
    padding: 10px; /* Espacio interno dentro del botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Eliminar borde del botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
  }
  
  .register-form button:hover {
    background-color: #0056b3; /* Cambiar color de fondo del botón al pasar por encima */
  }
  